* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: 'Noto Serif NP Hmong', serif; }

.contenedor-header {
  background: #582661;
  width: 100%;
  z-index: 99; }
  .contenedor-header .selected {
    color: #1CB698; }
  .contenedor-header header {
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 15px 20px; }
    .contenedor-header header .logo {
      padding: 0 40px; }
      .contenedor-header header .logo a {
        font-family: 'Righteous';
        font-size: 36px;
        color: #1CB698;
        text-decoration: none; }
    .contenedor-header header ul {
      display: flex;
      list-style: none; }
      .contenedor-header header ul li a {
        text-align: none;
        color: #fff;
        margin: 0 15px;
        padding: 3px;
        transition: .5s;
        text-decoration: none; }
        .contenedor-header header ul li a:hover {
          color: #faeafd; }
    .contenedor-header header .nav-responsive {
      background-color: #582661;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      display: none; }
    .contenedor-header header .abrir-menu {
      display: none; }

@media only screen and (max-width: 980px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  nav {
    display: none; }
  .responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #582661;
    width: 180px;
    z-index: 999; }
    .responsive ul {
      display: block !important; }
      .responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0; }
  .nav-responsive {
    display: block !important; } }

#encabezado h2 {
  color: #faeafd; }

#contenedor_asesoramiento {
  width: 100%;
  background-color: #faeafd;
  color: #555454; }
  #contenedor_asesoramiento h2 {
    color: #582661;
    font-size: 30px;
    padding-bottom: 30px;
    margin-left: 20px; }
  #contenedor_asesoramiento .contenedor_items_asesoramiento {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 0 20px; }
    #contenedor_asesoramiento .contenedor_items_asesoramiento .item_asesoramiento {
      list-style: none; }

#asesoramiento_contable {
  background-color: #89688f; }
  #asesoramiento_contable h2 {
    color: #582661;
    padding-left: 20px;
    padding-bottom: 50px; }
  #asesoramiento_contable .contenedor_itemContable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    #asesoramiento_contable .contenedor_itemContable .col_itemContable {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 50%; }
      #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable {
        display: flex;
        width: 100%; }
        #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable div {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable div h3 {
            color: #582661; }
          #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable div ul {
            color: whitesmoke;
            list-style: none; }

#seccion_Jefes {
  background-color: whitesmoke;
  color: #085f85;
  width: 100%;
  display: flex;
  flex-direction: column; }
  #seccion_Jefes .contenedorParrafo_Jefes p {
    color: #085f85;
    text-align: center; }
  #seccion_Jefes .contenedor_jefes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 80px; }
    #seccion_Jefes .contenedor_jefes .contenedor_Jefe_Individual {
      margin: 20px;
      display: flex;
      flex-direction: column; }
      #seccion_Jefes .contenedor_jefes .contenedor_Jefe_Individual .contenedorImagenJefe {
        margin: 30px 0; }
        #seccion_Jefes .contenedor_jefes .contenedor_Jefe_Individual .contenedorImagenJefe img {
          box-shadow: 21px 20px 0px 0px #3b79a3; }
      #seccion_Jefes .contenedor_jefes .contenedor_Jefe_Individual .contenedorInfoJefe {
        text-align: center; }
        #seccion_Jefes .contenedor_jefes .contenedor_Jefe_Individual .contenedorInfoJefe h3 {
          color: #582661; }
        #seccion_Jefes .contenedor_jefes .contenedor_Jefe_Individual .contenedorInfoJefe p {
          color: #085f85; }

#contacto {
  width: 100%;
  background-color: #582661;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  #contacto .contenedor_formulario {
    display: flex;
    justify-content: center;
    align-items: center; }
    #contacto .contenedor_formulario form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px; }
      #contacto .contenedor_formulario form button {
        padding: 10px 30px;
        background-color: #89688f;
        color: white;
        border: solid 2px white;
        border-radius: 10px;
        transition: .5s; }
        #contacto .contenedor_formulario form button:hover {
          background-color: #582661; }
  #contacto .contenedor_logoYMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; }
    #contacto .contenedor_logoYMapa img {
      width: 10rem; }

/************************************************************************/
/*MOBILE*/
/************************************************************************/
@media only screen and (max-width: 980px) {
  .contenedor_imagenEncabezado {
    max-width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 1; }
    .contenedor_imagenEncabezado img {
      width: 100%; }
    .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado {
      width: 50%;
      margin: 50px;
      position: absolute;
      z-index: 999; }
      .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado h2 {
        display: block;
        font-size: 17px;
        color: white;
        margin-bottom: 30px; }
      .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado .boton {
        padding: 10px 20px;
        background-color: #89688f;
        border: solid 2px white;
        border-radius: 10px;
        color: white;
        box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        transition: .5s;
        font-size: 14px; }
        .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado .boton:hover {
          background-color: #582661; }
  #contenedor_asesoramiento {
    padding-bottom: 40px; }
    #contenedor_asesoramiento h2 {
      font-size: 25px;
      padding-top: 80px;
      padding-bottom: 30px;
      margin-left: 20px; }
    #contenedor_asesoramiento .contenedor_items_asesoramiento {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      padding: 0 20px; }
      #contenedor_asesoramiento .contenedor_items_asesoramiento .item_asesoramiento {
        list-style: none;
        margin-bottom: 30px; }
  #asesoramiento_contable {
    padding: 40px 0; }
    #asesoramiento_contable h2 {
      font-size: 25px; }
    #asesoramiento_contable .contenedor_itemContable {
      width: 100%;
      gap: 50px; }
      #asesoramiento_contable .contenedor_itemContable .col_itemContable {
        width: 100%;
        gap: 50px; }
        #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable {
          padding: 0 20px;
          display: flex;
          justify-content: center; }
          #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable img {
            height: 8rem; }
          #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable h3 {
            font-size: 20px; }
          #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable ul li {
            margin-bottom: 8px;
            font-size: 17px; }
  .contenedorParrafo_Jefes p {
    padding: 40px 50px;
    font-size: 22px; }
  .contenedor_Jefe_Individual img {
    height: 15rem; }
  .contenedor_Jefe_Individual .contenedorInfoJefe h3 {
    font-size: 25px; }
  .contenedor_Jefe_Individual .contenedorInfoJefe p {
    width: 250px;
    font-size: 20px; }
  #contacto .contenedor_formulario {
    padding: 50px 0;
    width: 100%; }
    #contacto .contenedor_formulario form {
      width: 80%; }
      #contacto .contenedor_formulario form input {
        width: 400px;
        font-size: 20px;
        padding: 10px 30px; }
      #contacto .contenedor_formulario form button {
        font-size: 20px; }
      #contacto .contenedor_formulario form::placeholder {
        padding: 10px 20px; }
  #contacto .contenedor_logoYMapa {
    width: 100%; }
    #contacto .contenedor_logoYMapa img {
      padding: 20px 0; }
    #contacto .contenedor_logoYMapa .contenedor_map {
      width: 100%;
      padding: 0 20px; }
      #contacto .contenedor_logoYMapa .contenedor_map iframe {
        width: 100%; } }

/************************************************************************/
/*DESKTOP*/
/************************************************************************/
@media only screen and (min-width: 981px) {
  #encabezado .contenedor_imagenEncabezado {
    max-width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 1; }
    #encabezado .contenedor_imagenEncabezado img {
      width: 100%; }
    #encabezado .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado {
      width: 30%;
      margin: 80px;
      position: absolute;
      z-index: 999; }
      #encabezado .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado h2 {
        font-size: 35px;
        margin-bottom: 40px; }
      #encabezado .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado .boton {
        padding: 10px 20px;
        background-color: #89688f;
        border: solid 2px white;
        border-radius: 10px;
        color: white;
        box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
        transition: .5s;
        font-size: 27px; }
        #encabezado .contenedor_imagenEncabezado .contenedorTexto-boton_encabezado .boton:hover {
          background-color: #582661; }
  #contenedor_asesoramiento {
    padding: 80px 0; }
    #contenedor_asesoramiento h2 {
      font-size: 35px; }
    #contenedor_asesoramiento .contenedor_items_asesoramiento {
      font-size: 25px;
      padding: 0 20px; }
      #contenedor_asesoramiento .contenedor_items_asesoramiento .item_asesoramiento {
        list-style: none;
        margin-bottom: 60px; }
  #asesoramiento_contable {
    padding: 80px 0; }
    #asesoramiento_contable h2 {
      font-size: 35px; }
    #asesoramiento_contable .contenedor_itemContable .col_itemContable {
      gap: 70px; }
      #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable {
        display: flex;
        justify-content: center; }
        #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable img {
          height: 10rem; }
        #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable h3 {
          font-size: 35px; }
        #asesoramiento_contable .contenedor_itemContable .col_itemContable .itemContable ul li {
          margin-bottom: 8px;
          font-size: 25px; }
  .contenedorParrafo_Jefes p {
    padding: 100px 30px;
    font-size: 35px; }
  .contenedor_Jefe_Individual img {
    height: 20rem; }
  .contenedor_Jefe_Individual .contenedorInfoJefe h3 {
    font-size: 35px; }
  .contenedor_Jefe_Individual .contenedorInfoJefe p {
    width: 500px;
    font-size: 30px; }
  #contacto {
    padding: 80px 0; }
    #contacto .contenedor_formulario form {
      width: 90%; }
      #contacto .contenedor_formulario form input {
        width: 500px;
        height: 70px;
        font-size: 20px;
        padding: 10px 30px; }
      #contacto .contenedor_formulario form button {
        font-size: 30px; }
      #contacto .contenedor_formulario form::placeholder {
        padding: 10px 20px; }
    #contacto .contenedor_logoYMapa {
      width: 50%; }
      #contacto .contenedor_logoYMapa .contenedor_ImgContacto img {
        padding: 30px 0; } }

footer {
  background-color: #582661;
  color: whitesmoke;
  width: 100%; }
  footer .contenedor_info_footer {
    padding: 80px 20px; }
    footer .contenedor_info_footer ul {
      list-style: none; }
      footer .contenedor_info_footer ul li {
        margin-bottom: 15px; }

@media only screen and (max-width: 980px) {
  .contenedor_info_footer {
    display: flex;
    justify-content: center; }
    .contenedor_info_footer ul {
      list-style: none; }
      .contenedor_info_footer ul li {
        font-size: 15px; } }

@media only screen and (min-width: 981px) {
  .contenedor_info_footer {
    display: flex;
    justify-content: start; }
    .contenedor_info_footer ul {
      list-style: none; }
      .contenedor_info_footer ul li {
        font-size: 25px; } }
